+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="Welcome to the valantic Pimcore Tech Space!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Open Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Open News und Bundle Release Infos <i class="fas fa-arrow-alt-circle-right ml-2 "></i>
	</a>
	<p class="lead mt-5 "><strong>Scrollen für mehr Infos und direkte Links</strong></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Hier könnte was interessantes stehen :) Primary color
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
Hier steht was nicht so interessantes. dark color
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Doku erweitern" url="https://gitlab.com/my_val/dev-docs-example" %}}
und der Link zum Repo [Pull Request](https://gitlab.com/my_val/dev-docs-example)
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Die valantic Pimcore Bundles" url="https://github.com/valantic/" %}}
Hier könnte ein link zu den valanatic bundles liegen
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
